.App2 {
  text-align: center;
}

.App2-logo {
  height: 40vmin;
}

.App2-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App2-link {
  color: #09d3ac;
}

.App2-ul{
  display: flex;
  min-height: .01%;
  white-space: nowrap;
  width: 100%;
}